body {
    background: #e1e1e1;
    color: #000;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
}

.header {
    font-family: Calibri;
}

#header_title {
    font-size: 40pt;
    padding: 10px;
}

.button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 16px;
    border-radius: 5px;
    color: #135093;
    background: rgba(0,0,0,0);
    border: solid 5px #1966ba;
}

    .button:hover {
        border-color: #0d4072;
        color: #0d4072;
    }


.colorbar {
    width: 95%;
    color: #1966ba;
    background-color: #1966ba;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
}

/***
 *    ______------------------_____-------------_--------_---------------------
 *    |-___-\----------------/--__-\-----------|-|------(_)--------------------
 *    |-|_/-/_-_--__-_--___--|-/--\/-___--_-__-|-|_-__-_-_-_-__---___-_-__-___-
 *    |--__/-_`-|/-_`-|/-_-\-|-|----/-_-\|-'_-\|-__/-_`-|-|-'_-\-/-_-\-'__/-__|
 *    |-|-|-(_|-|-(_|-|--__/-|-\__/\-(_)-|-|-|-|-||-(_|-|-|-|-|-|--__/-|--\__-\
 *    \_|--\__,_|\__,-|\___|--\____/\___/|_|-|_|\__\__,_|_|_|-|_|\___|_|--|___/
 *    ------------__/-|--------------------------------------------------------
 *    -----------|___/---------------------------------------------------------
 *    -------------------------------------------------------------------------
 */

.container {
    display: table;
}

.left-half {
    position: absolute;
    display: block;
    left: 4%;
    width: 45%;
    height: 60%;
    /*background-color: chartreuse;*/
}

.right-half {
    position: absolute;
    display: block;
    right: 4%;
    width: 45%;
    /*background-color: mediumpurple;*/
}

.bottom {
    position: absolute;
    display: block;
    top: 80%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    /*background-color: aqua;*/
}

.centerMe {
    position: center;
    border: solid 5px #135093;
}

/***
 *    ______-_------------_------_---_-_---------------
 *    |-___-\-|----------|-|----|-|-|-(_)--------------
 *    |-|_/-/-|-___---___|-|-__-|-|-|-|_--_____------__
 *    |-___-\-|/-_-\-/-__|-|/-/-|-|-|-|-|/-_-\-\-/\-/-/
 *    |-|_/-/-|-(_)-|-(__|---<--\-\_/-/-|--__/\-V--V-/-
 *    \____/|_|\___/-\___|_|\_\--\___/|_|\___|-\_/\_/--
 *    -------------------------------------------------
 */
.blockView {
    width: 45vw;
    height: 60vh;
    /*border-width: 5px;
    border-color: #135093;
    border: solid;
    background-color: #0d4072;*/
}

.blockViewAgent {
    background-color: #5686BA;
    border: solid 5px #1966ba;
}

.blockViewOpenSpace {
    border: solid 1px #282828;
    background-color: #e1e1e1;
}

.blockViewVisitedSpace {
    border: solid 1px #282828;
    background-color: #db5353;
}

.blockViewClosedSpace {
    border: solid 1px #282828;
    background-color: #1E1E1E;
}

/***
 *    -_____-----------------_-------_---_-_---------------
 *    |--__-\---------------|-|-----|-|-|-(_)--------------
 *    |-|--\/_-__-__-_-_-__-|-|__---|-|-|-|_--_____------__
 *    |-|-__|-'__/-_`-|-'_-\|-'_-\--|-|-|-|-|/-_-\-\-/\-/-/
 *    |-|_\-\-|-|-(_|-|-|_)-|-|-|-|-\-\_/-/-|--__/\-V--V-/-
 *    -\____/_|--\__,_|-.__/|_|-|_|--\___/|_|\___|-\_/\_/--
 *    ----------------|-|----------------------------------
 *    ----------------|_|----------------------------------
 *    -----------------------------------------------------
 */
.graphView {
    width: 45vw;
    height: 60vh;
    /*border-width: 5px;
    border-color: #135093;
    border: solid;
    background-color: #0d4072;*/
}

.graphViewNode {
    border-radius: 100%;
    padding: 10px;
    border: solid 3px #282828;
    background-color: #ffffff;
}

.graphViewSpacer {
    border: none;
    background-color: #e1e1e1;
}
