body {
    /* background-color: #0057B8; */
    background-color: #1966ba;
    color: #212121;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
}

/***
 *    ______------------------_____-------------_--------_---------------------
 *    |-___-\----------------/--__-\-----------|-|------(_)--------------------
 *    |-|_/-/_-_--__-_--___--|-/--\/-___--_-__-|-|_-__-_-_-_-__---___-_-__-___-
 *    |--__/-_`-|/-_`-|/-_-\-|-|----/-_-\|-'_-\|-__/-_`-|-|-'_-\-/-_-\-'__/-__|
 *    |-|-|-(_|-|-(_|-|--__/-|-\__/\-(_)-|-|-|-|-||-(_|-|-|-|-|-|--__/-|--\__-\
 *    \_|--\__,_|\__,-|\___|--\____/\___/|_|-|_|\__\__,_|_|_|-|_|\___|_|--|___/
 *    ------------__/-|--------------------------------------------------------
 *    -----------|___/---------------------------------------------------------
 */

.pageTitle {
    font-size: 40pt;
    padding: 10px;
}

.form {
    position: absolute;
    width: 95%;
    height: 95%;
    /*background-color: #1966ba; */
    background-color: #5686BA;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.center {
    position: absolute;
    left: 5%;
    right: 5%;
    margin-bottom: 50px;
    margin-top: 50px;
    /*border: 2px solid #db5353;*/
}

.left-half {
    position: absolute;
    left: 5%;
    width: 65%;
    height: 85%;
    /*border: 2px solid chartreuse;*/
}

.right-half {
    position: absolute;
    right: 5%;
    width: 20%;
    height: 70%;
    border: 3px solid #212121;
    background-color: #d3d3d3;
    border-radius: 10px;
    /*border: 5px solid mediumpurple;*/
}

.viewContainer {
    display: inline-block;
    /*border: 5px solid #212121;*/
}

.containerSearch {
    width: 250px;
    height: 50px;
    background: #393939;
    border: none;
    font-size: 10pt;
    color: #c4c4c4;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .containerSearch:hover, .containerSearch:focus, .containerSearch:active {
        outline: #236c9f 3px solid;
        -moz-outline-radius: 10px;
    }

/***
 *    ______-------_---_-----------------------------_____---------_---_------------------------
 *    |-___-\-----|-|-|-|--------------------___----|_---_|-------|-|-|-|-----------------------
 *    |-|_/-/_---_|-|_|-|_-___--_-__--___---(-_-)-----|-|-_____--_|-|_|-|__---_____--_____--___-
 *    |-___-\-|-|-|-__|-__/-_-\|-'_-\/-__|--/-_-\/\---|-|/-_-\-\/-/-__|-'_-\-/-_-\-\/-/-_-\/-__|
 *    |-|_/-/-|_|-|-|_|-||-(_)-|-|-|-\__-\-|-(_>--<---|-|--__/>--<|-|_|-|_)-|-(_)->--<--__/\__-\
 *    \____/-\__,_|\__|\__\___/|_|-|_|___/--\___/\/---\_/\___/_/\_\\__|_.__/-\___/_/\_\___||___/
 */

.button {
    border: solid #5d6062 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
}

    .button:hover, .button:focus, .button:active {
        background-color: #5686BA;
        border-color: #1966ba;
    }

.button-positive {
    border: solid #5d6062 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
}

    .button-positive:hover, .button-positive:focus, .button-positive:active {
        background-color: #56ba59;
        border-color: #19ba1e;
    }

.button-negative {
    border: solid #5d6062 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
}

    .button-negative:hover, .button-negative:focus, .button-negative:active {
        background-color: #db5353;
        border-color: #282828;
    }

.button-warning {
    border: solid #7e7e7e 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    border-color: #5d6062;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
    left: 2.5%;
    position: absolute;
}

    .button-warning:hover, .button-warning:focus, .button-warning:active {
        background-color: #de9150;
        border-color: #d57e35;
    }

.button-information {
    border: solid #5d6062 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
}

    .button-information:hover, .button-information:focus, .button-information:active {
        background-color: #d7cd5c;
        border-color: #a48d04;
    }

.button-Disabled {
    border: solid #7e7e7e 1px;
    color: #282828;
    border-radius: 5%;
    font-size: 14px;
    transition: all 200ms ease-in-out 0s;
    border-color: #5d6062;
    background-color: #c4c4c4;
    width: 130px;
    height: 30px;
    opacity: .5;
}

.txtSaveFile {
    width: 80%;
}

.txtStepsNumber {
    width: 40%;
}

.visible {
}

.hidden {
    display: none;
}

/***
 *    ______-_------------_------_---_-_---------------
 *    |-___-\-|----------|-|----|-|-|-(_)--------------
 *    |-|_/-/-|-___---___|-|-__-|-|-|-|_--_____------__
 *    |-___-\-|/-_-\-/-__|-|/-/-|-|-|-|-|/-_-\-\-/\-/-/
 *    |-|_/-/-|-(_)-|-(__|---<--\-\_/-/-|--__/\-V--V-/-
 *    \____/|_|\___/-\___|_|\_\--\___/|_|\___|-\_/\_/--
 *    -------------------------------------------------
 */
.blockViewOpenSpace {
    background-color: #e1e1e1;
    border: solid 1px #282828;
}

.blockViewClosedSpace {
    border: solid 1px #282828;
    background-color: #1E1E1E;
}

.blockViewVisitedSpace {
    border: solid 1px #282828;
    background-color: #db5353;
}

.blockViewAgent {
    background-color: #5686BA;
    border: 5px solid #1966ba;
}

/***
 *    -_____-----------------_-------_---_-_---------------
 *    |--__-\---------------|-|-----|-|-|-(_)--------------
 *    |-|--\/_-__-__-_-_-__-|-|__---|-|-|-|_--_____------__
 *    |-|-__|-'__/-_`-|-'_-\|-'_-\--|-|-|-|-|/-_-\-\-/\-/-/
 *    |-|_\-\-|-|-(_|-|-|_)-|-|-|-|-\-\_/-/-|--__/\-V--V-/-
 *    -\____/_|--\__,_|-.__/|_|-|_|--\___/|_|\___|-\_/\_/--
 *    ----------------|-|----------------------------------
 *    ----------------|_|----------------------------------
 */
.graphViewNode {
    border-radius: 100%;
    border: solid 3px #282828;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.graphViewNodeVisited {
    border-radius: 100%;
    border: solid 3px #282828;
    background-color: #db5353;
    margin-top: 15px;
    margin-bottom: 15px;
}

.graphViewSpacer {
    color: transparent;
    border: solid 3px transparent;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

.graphViewLabel {
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10pt;
}

.graphViewLabelSpacer {
    position: relative;
    top: -15px;
    left: 15px;
    color: transparent;
    font-size: 10pt;
}

/***
 *    -_____------_-----_-_---_-_---------------
 *    |--__-\----(_)---|-|-|-|-(_)--------------
 *    |-|--\/_-__-_--__|-|-|-|-|_--_____------__
 *    |-|-__|-'__|-|/-_`-|-|-|-|-|/-_-\-\-/\-/-/
 *    |-|_\-\-|--|-|-(_|-\-\_/-/-|--__/\-V--V-/-
 *    -\____/_|--|_|\__,_|\___/|_|\___|-\_/\_/--
 */
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #1966ba;
    padding: .3em;
}

    table th a {
        color: white;
        /*Stlye for Header Arrows During Sort*/
        padding-right: 8px;
        padding-left: 8px;
        text-decoration: none;
    }

        table th a:hover, table th a:focus, table th a:active {
            transition: all 200ms ease-in-out 0s;
            /*Stlye for Header Arrows During Sort*/
            padding-right: 8px;
            padding-left: 8px;
            text-decoration: underline;
        }

th {
    color: white;
    padding: 1em;
    padding-right: 25px;
    background-color: #1966ba;
}

tr:nth-child(even) {
    background-color: #dfe4f0;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}



tr.pager-row td {
    border-color: transparent;
    background-color: #e1e1e1;
}

    tr.pager-row td a {
        color: #000;
        padding: 0px 5px;
        text-decoration: none;
        border: none;
    }

        tr.pager-row td a:hover {
            color: #1966ba;
            padding: 0px 5px;
            font-weight: 600;
        }

    tr.pager-row td span {
        border: none;
        font-weight: bold;
        color: #000;
        padding: 0px 6px;
    }

.Asc_Des_Header {
    background-color: #063682;
    background-size: 16px 8px;
}

.Asc_Des_Cell {
    background-color: #b5d2eb;
}

.linkbutton-Gridview {
    color: #000;
    border-radius: 5%;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    width: 150px;
    height: 40px;
}

    .linkbutton-Gridview:hover, .linkbutton-Gridview:focus, .linkbutton-Gridview:active {
        transition: all 200ms ease-in-out 0s;
        color: #1966ba;
    }
